# --- SEGURANÇA (O mais importante) ---
# Ignora a pasta .streamlit e o arquivo de senhas em qualquer diretório
.streamlit/
**/secrets.toml

# --- CACHE E AMBIENTE ---
__pycache__/
*.pyc
venv/
.venv/

# --- ARQUIVOS DE SISTEMA ---
.DS_Store
Thumbs.db